$shadow-sm: 0 2px 4px rgba(0, 0, 0, .1);
$shadow: $shadow-sm, 0 6px 12px rgba(0, 0, 0, .05);
$shadow-lg: 0 8px 20px rgba(0, 0, 0, .1);

$rounded-sm: 3px;
$rounded: 5px;
$rounded-lg: 8px;
$rounded-circle: 9999999px;
