$breakpoints: (
  sm: 480px,
  md: 720px,
);

$header-height: 90px;

$sizing-base: 4px;

// 2px
// 4px
// 8px
// 12px
// 20px
// 24px
// 36px
// 72px
// 80px
$sizing-map: (0, .5, 1, 2, 3, 5, 6, 9, 18, 20);

@function getSizedValue($i) {
  @return nth($sizing-map, $i + 1) * $sizing-base;
}

$font-size: (.8rem, .9rem, 1rem, 1.2rem, 1.4rem, 1.6rem, 1.8rem, 2.2rem, 3rem, 3.8rem, 4.6rem, 8rem, 9rem);

@function getFontSize($i) {
  @return nth($font-size, $i);
}
