@import "colors";
@import "modifiers";

@keyframes previous-letter {
  0% {
    z-index: 2;
    transform: none;
  }

  50% {
    z-index: 2;
    transform: translateY(5px) translateX(-60%) rotateZ(-9deg);
  }

  51% {
    z-index: 1;
  }

  100% {
    z-index: 1;
    transform: translateY(3px) translateX(-15px) rotateZ(-3deg);
  }
}

@keyframes next-letter {
  0% {
    z-index: 1;
    transform: translateY(3px) translateX(10px) rotateZ(2deg);
  }

  50% {
    z-index: 1;
    transform: translateY(5px) translateX(60%) rotateZ(4deg);
  }

  51% {
    z-index: 2;
  }

  100% {
    z-index: 2;
    transform: none;
  }
}

@keyframes letter-content {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#rsvp {
  $rsvp-padding: 200px;
  $rsvp-background: $primary-100;
  $letter-height: 500px;
  $letter-width: 360px;

  position: relative;
  height: #{$letter-height + ($rsvp-padding * 2)};
  padding: $rsvp-padding 0;
  text-align: center;
  background: $rsvp-background repeat center center / 24px;

  .letter {
    display: block;
    position: absolute;
    top: $rsvp-padding;
    left: calc(50% - #{$letter-width / 2});
    margin: 0 auto;
    height: $letter-height;
    width: $letter-width;
    border-radius: 5px;
    transition: transform .3s ease;
    transform: none;
    background: $light;
    background-size: 500px 593px;
    box-shadow: $shadow;
    overflow: hidden;

    &::before {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      height: 100%;
      width: 100%;
      background: white repeat top left url(/images/paper.jpg) / 260px;
      opacity: .1;
    }

    .letter-content {
      position: relative;
      z-index: 3;
      height: 100%;
      width: 100%;
      padding: getSizedValue(7);
      overflow: auto;
      opacity: 0;
    }
  }

  .l-1 {
    z-index: 2;
    transform: none;

    .letter-content {
      opacity: 1;

      background-image: url(/images/flower-circle.png),
      url(/images/flower-bottom.png);
      background-position: center top 60px, center bottom 60px;
      background-repeat: no-repeat, no-repeat;
      background-size: auto 300px, auto 140px;
    }
  }

  .l-2 {
    z-index: 1;
    transform: translateY(3px) translateX(10px) rotateZ(2deg);
  }

  &.stage-1 {
    .l-1 {
      animation: previous-letter 1s ease-in-out forwards;
    }

    .l-2 {
      animation: next-letter 1s ease-in-out .1s forwards;

      .letter-content {
        display: none;
        animation: letter-content 1s ease-in-out forwards;
      }
    }
  }
}
