@import "colors";
@import "sizes";
@import "modifiers";
@import "grid";

@import "helper-classes";
@import "rsvp";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}

html {
  height: 100%;
  width: 100%;
  color: $grey-900;
  background-color: $grey-100;
  font-family: -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue;
  font-size: 12px;

  @media only screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.font-handwriting {
  font-family: 'Rochester', cursive;
}

.content {
  width: 100%;
  max-width: 760px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  transition: transform .2s ease;
  transform: translateY(-100%);
  font-size: getFontSize(2);
  box-shadow: $shadow-header;

  @include desktop {
    font-size: getFontSize(3);
  }

  &.active {
    transform: none;
  }

  .content {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    height: 100%;
    padding: 24px 20px;
  }

  .logo,
  .logo-mobile {
    @extend .font-handwriting;
    
    color: $grey-900;
    text-decoration: none;
    font-size: getFontSize(4);
  }

  .logo-mobile {
    @include desktop {
      display: none;
    }
  }

  .logo {
    display: none;
    border-radius: $rounded-circle;
    text-decoration: none;
    font-size: getFontSize(6);

    @include desktop {
      display: block;
    }
  }

  a:not(.logo):not(.logo-mobile) {
    margin-left: getSizedValue(6);
    text-decoration: none;
    transition: color .2s ease;
    cursor: pointer;
    color: $grey-400;
    text-transform: uppercase;
    font-weight: normal;
    
    @include desktop {
      font-size: getFontSize(2);
    }

    &:hover,
    &.active {
      color: $dark;
    }
  }
}

main:not(#hero) {
  position: relative;
  padding: 40px 10px;

  @include desktop {
    padding: 100px 0;
  }
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: $grey-900;

  .background {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    height: 100%;
    width: 100%;
    transition: top ease;
    opacity: .4;
    background: no-repeat center center / cover;
    background-image: url("/images/mink.jpg");
  }

  &::after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    height: 40%;
    width: 100%;
    background: none;
    background: linear-gradient(rgba(black, .7), rgba(black, 0));
  }

  > * {
    position: relative;
    z-index: 1;
    width: 100%;
  }

  a {
    color: $grey-500;
    transition: color .2s ease;
    text-decoration: none;

    &:hover {
      color: $grey-100;
    }
  }
}

#main-text {
  display: block;
}

#elerhetosegek {
  background: $primary-100;
}

.separator {
  display: block;
  position: relative;
  height: 20px;
  width: calc(100% - 40px);
  margin: 0 20px;
  text-align: center;

  &::before {
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 0;
    height: 1px;
    width: 100%;
    background-color: $grey-200;
  }

  .text {
    display: inline-block;
    position: relative;
    z-index: 1;
    height: 100%;
    margin: -30px 0 0;
    padding: 0 getSizedValue(6);
    color: $grey-500;
    background-color: $light;
    font-size: getFontSize(3);
    font-weight: 400;
  }
}

.profile {
  display: none;

  @include desktop {
    display: block;
    flex: 0 0 80px;
    height: 80px;
    width: 80px;
    border-radius: 100%;
    background: $grey-300 no-repeat center center / cover;
  }
}

.form-group {
  display: block;
  text-align: left;
}

.form-label {
  @extend .size-3;

  display: block;
  margin-bottom: getSizedValue(1);
  color: $grey-700;
  font-weight: 400;
}

input.form-control {
  display: block;
  width: 100%;
  padding: getSizedValue(3) 0;
  border: 0;
  border-bottom: 2px solid $grey-200;
  -webkit-appearance: none;
  outline: 0;
  transition: border .2s ease;
  background-color: transparent;
  font-size: getFontSize(6);
  font-family: inherit;
  font-weight: 400;

  &::-webkit-input-placeholder,
  &::placeholder {
    color: $grey-200;
  }

  &:hover {
    border-bottom-color: $grey-400;
  }

  &:active,
  &:focus {
    border-bottom-color: $primary-500;
  }
}

.link {
  display: inline-block;
  padding: getSizedValue(1);
  cursor: pointer;
  text-decoration: none;
  appearance: none;
  -webkit-appearance: none;
  border: 0;
  color: $primary-500;
  font-size: 1rem;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.btn {
  display: inline-block;
  padding: getSizedValue(3) getSizedValue(5);
  border-radius: $rounded-circle;
  appearance: none;
  -webkit-appearance: none;
  border: 3px solid $primary-200;
  cursor: pointer;
  transition: background-color .2s ease, border-color .2s ease, color .2s ease;
  text-decoration: none;
  color: $light;
  background-color: $primary-400;
  font-size: 1rem;

  &:hover,
  &:focus {
    border-color: $primary-300;
  }

  &:active {
    border-color: $primary-500;
    background-color: $primary-500;
  }

  &.btn-secondary {
    color: $grey-800;
    background-color: $primary-100;
    border: 3px solid $primary-200;

    &:hover,
    &:focus {
      color: $grey-900;
      border-color: $primary-300;
      background-color: $primary-200;
    }

    &:active {
      color: $grey-100;
      border-color: $primary-500;
      background-color: $primary-500;
    }
  }

  &.btn-sm {
    padding: getSizedValue(1) getSizedValue(4);
    font-size: getFontSize(2);
  }
}

.border-top-primary-300 {
  border-top: 12px solid $primary-300;
}
