@import "responsive";

$grid-base: 12;

.row {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 0;
}

[class^="col-"] {
  display: block;
  flex: 0;
  font-size: 1rem;
}

@for $i from 1 to ($grid-base + 1) {
  $p: percentage($i / 12);

  .col-#{$i} {
    flex-basis: $p;
    max-width: $p;
  }
}

@for $i from 1 to ($grid-base + 1) {
  $p: percentage($i / 12);

  .col-md-#{$i} {
    @include viewport-md {
      flex-basis: $p;
      max-width: $p;
    }
  }
}
