@import "colors";

#rsvp {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 100vh;
  padding: 80px 10px !important;
  text-align: center;
  overflow: hidden;
  background: $grey-900;

  .background {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    opacity: .2;
    background: url('/public/images/mink_2.jpg') no-repeat center center / cover;

    @include desktop {
      transform: translateZ(-1px) scale(2);
    }
  }
}

#letter {
  display: block;
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 460px;
  border-radius: 5px;
  padding: 12px 20px;
  transition: transform .3s ease;
  transform: none;
  background: $light;
  overflow: hidden;

  &::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    height: 100%;
    width: 100%;
    background: white repeat top left url('/public/images/paper.jpg') / 260px;
    opacity: .4;
  }

  hr {
    display: block;
    border: 0;
    height: 1px;
    width: 100%;
    background: $grey-200;
  }

  > * {
    position: relative;
    z-index: 1;
  }

  .letter-intro {
    height: 260px;
    background-image: url('/public/images/flower-circle.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: auto 260px;

    @include desktop {
      height: 400px;
      background-size: auto 400px;
    }
  }

  .letter-footer {
    height: 200px;
    background-image: url('/public/images/flower-bottom.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 200px;
  }
}

.quote {
  display: block;
  position: relative;
  padding: 12px;
  color: $grey-600;

  &::before,
  &::after {
    display: block;
    content: '“';
    position: absolute;
    top: 10px;
    left: -10px;
    line-height: 5rem;
    color: $grey-200;
    font-family: 'Rochester', cursive;
    font-size: 10rem;
  }

  &::after {
    content: '”';
    top: auto;
    left: auto;
    bottom: 0px;
    right: -10px;
    line-height: 0;
  }
}
