@import "colors";
@import "responsive";

@import "rsvp";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}

html {
  height: 100%;
  width: 100%;
  color: $grey-900;
  background-color: $grey-100;
  font-family: -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue !important;
  font-size: 12px;

  @include desktop {
    font-size: 16px;
  }
}

h1,
h2,
h3 {
  font-weight: bold;
}

.font-handwriting {
  font-family: 'Rochester', cursive;
  font-weight: normal;
}

.container {
  max-width: 820px;
}

.text-primary {
  color: $primary-300 !important;
}

.btn-primary {
  border-radius: 5px;
  border: 3px solid $primary-300;
  background-color: $primary-400;

  &:hover {
    border-color: $primary-400;
    background-color: $primary-500;
  }
}

.btn-secondary {
  border-radius: 3px;
  border: 1px solid $grey-200;
  color: $grey-700;
  background-color: white;
  box-shadow: 0 2px 3px rgba(black, .03), 0 4px 8px rgba(black, .02);

  &:hover {
    border-color: $primary-400;
    color: white;
    background-color: $primary-500;
  }
}

header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  transition: transform .2s ease;
  transform: translateY(-100%);
  font-size: .8rem;

  @include desktop {
    font-size: .9rem;
  }

  &.active {
    transform: none;
  }

  .logo,
  .logo-mobile {
    @extend .font-handwriting;
    
    color: $grey-900;
    text-decoration: none;
    font-size: 1rem;
  }

  .logo-mobile {
    @include desktop {
      display: none;
    }
  }

  .logo {
    display: none;
    border-radius: 999999px;
    text-decoration: none;
    font-size: 1.4rem;

    @include desktop {
      display: block;
    }
  }

  a:not(.logo):not(.logo-mobile) {
    margin-left: 20px;
    text-decoration: none;
    transition: color .2s ease;
    cursor: pointer;
    color: $grey-400;
    text-transform: uppercase;
    font-weight: normal;

    &:hover,
    &.active {
      color: $dark;
    }
  }
}

.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;

  @include desktop {
    perspective: 1px;
    transform-style: preserve-3d;
  }
}

main:not(#hero) {
  position: relative;
  padding: 40px 10px;

  @include desktop {
    padding: 100px 0;
  }
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: $grey-900;

  .background,
  .background-1,
  .background-2 {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    opacity: 1;
    background: no-repeat center center / cover;
  }

  .background {
    z-index: 3;
    background-image: url("/public/images/mink.jpg");

    @include desktop {
      background-image: url("/public/images/mink.png");
    }
  }

  .background-1 {
    display: none;

    @include desktop {
      display: block;
      z-index: 2;
      background-image: url("/public/images/mink_hatter_1.png");
    }
  }

  .background-2 {
    display: none;

    @include desktop {
      display: block;
      z-index: 1;
      background-image: url("/public/images/mink_hatter_2.png");
    }
  }

  &::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    height: 100%;
    width: 100%;
    background: rgba(black, .4);
  }

  &::after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
    height: 40%;
    width: 100%;
    background: none;
    background: linear-gradient(rgba(black, .4), rgba(black, 0));
  }

  > * {
    position: relative;
    z-index: 10;
    width: 100%;
  }

  .hero-text {
    font-size: 3rem;

    .middle-text {
      font-size: 5rem;
    }
  }

  a {
    display: inline-block;
    color: $grey-500;
    transition: color .2s ease;
    text-decoration: none;

    &:hover {
      color: $grey-100;
    }
  }
}

#main-text {
  display: block;
}

#elerhetosegek {
  background: $primary-100;
}

.profile {
  display: block;
  flex: 0 0 80px;
  height: 80px;
  width: 80px;
  border-radius: 100%;
  background: $grey-300 no-repeat center center / cover;

  @include desktop {
    flex-basis: 120px;
    height: 120px;
    width: 120px;
  }
}

$program-border-width: .25rem;
$program-bullet-size: 1rem;
$program-bullet-top: 1.8rem - $program-bullet-size;
$program-title-padding: 40px;

.program-left,
.program-right {
  position: relative;

  &::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: $program-border-width;
    background: $grey-200;
  }

  &::after {
    display: block;
    content: '';
    position: absolute;
    top: $program-bullet-top;
    z-index: 10;
    height: $program-bullet-size;
    width: $program-bullet-size;
    border-radius: 50%;
    background: $primary-200;
  }

  h4 {
    font-weight: normal;
    display: inline-block;
    position: relative;
    z-index: 9;
    padding: .4rem 0;
    border-bottom: .15rem solid $primary-200;
    // border-radius: 999999px;
    background: white;
    // box-shadow: $shadow-header;
  }
}

.program-left {
  &::before {
    right: -$program-border-width / 2;
  }

  &::after {
    right: -#{$program-bullet-size / 2};
  }

  h4 {
    margin-right: -$program-title-padding;
    padding-right: $program-title-padding;
    border-top-right-radius: 99999px;
    border-bottom-right-radius: 99999px;
  }
}

.program-right {
  &::before {
    left: -$program-border-width / 2;
  }

  &::after {
    left: -#{$program-bullet-size / 2};
  }

  h4 {
    margin-left: -$program-title-padding;
    padding-left: $program-title-padding;
    border-top-left-radius: 99999px;
    border-bottom-left-radius: 99999px;
  }
}

.program-padded {
  padding-top: 4.4rem;

  &::after {
    top: 5.2rem;
  }
}

$program-last-bullet-border-width: .25rem;
.program-end {
  position: relative;

  &::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: calc(50% - 0.45rem);
    height: $program-bullet-size;
    width: $program-bullet-size;
    border: $program-last-bullet-border-width solid $primary-200;
    border-radius: 50%;
    background: $grey-100;
  }
}

#video {
  position: relative;
  height: 80vh;
  max-height: 800px;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}
